/*fjerner blå link tekst og bytter ut med svart på hele siden*/
a {
    text-decoration:none ;
    color:black
}
/* endrer bakgrunnsefargen på siden*/
body{
    background-color: darkolivegreen;
}

/*navigasjons div  elemntet */
.nav_flex{
    background-color:darkkhaki; /* endrer bakgrunsfarge*/
    display: flex;
    justify-content: space-between; /* sprer elementene gjevnilg*/
    align-items: center;
    border-radius: 10px ; /* gir boksen en avrundet look*/
}

.produkt {
    display: flex;
    justify-content: start;
}

/*Norwegian fragrances tekst*/
#tittel{
    display: flex;
    padding: 20px;
    font-size: 40px;
}
/*Produkt tekst i navigasjons bar*/
#prod{
    font-size: 27px;
    justify-content: center;
    padding: 20px;
}

.handel{
    display: flex;
    flex-direction: row;
}
#login{
    margin: 10px;
}
#user{
    width: 40px;
    height: auto;
    padding-top: 10px;
}
/* Handlevogn */
#vogn{
    justify-content: flex-end;
    height: 40px;
    width: 40px;
    padding: 20px;
    margin-right: 20px;
}

/* hele div elementet til produktene*/
.inne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

/* css for div elementet som holder bildene og tekst*/
.image-container {
    display: inline-block; /* viser elementen i rad format*/
    text-align: center; /* putter elementene i midten */
    margin: 10px; /* legger til mellomrom mellom elementene */

    /*fikser størelsen på div elementene så de er like store alle sammen*/
    height: auto;
    width: 70%;
    /* lager en avrundet kant på div elementet */
    border-radius: 10px;
    transition: transform 0.5s, box-shadow 0.2s;/*gjør at boksen blir større nå man hovrer*/
}
/* gjør at den når musa hovrer over div elementet kommer den avrundete boksen opp*/
.image-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
.image-container img {
    width: 80%; /* setter bredden på elementen */
    height: auto; /* beholder aspect ratio */
    padding-top: 10px;/* gir bildene en liten kant på toppen*/
    border-radius: 30px;
}
  
.image-container p {
    margin-top: 10px; /* legger til mellomrom mellom bilde og tekst */
    display: flex;
    justify-content: center;
}

.tekst{
    background-color: darkkhaki;
    border-radius: 10px;
    margin-left: 45px;
    margin-right: 45px;
}

.tt{
    padding-top: 10px;
}


/* Under er sidene for produktene, jeg har har brukt class så jeg bare 
kan sette inn og infoen jeg trenger for hver side. */

.prod-div{
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 10px;
    border-radius: 10px;
    width: 90%;
    height: auto;
}
.prod-bilde{
    width: 50px;
    height: auto;
}