/*
    endre farge på texten til hvit
*/
#tittel{
    color: black;
    display: flex;
    justify-content: left;
    font-size: 30px;
    margin: 15px;
} 
/*
    endrer bakrunds fargen til sort
*/
body{
    background-color:lightskyblue ;
}
/*
    css for meny
*/
.meny{
    color: wheat;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-left: 30px;
    justify-content: space-evenly;
}
/* 
   Stiler for bakrund fargen på sirkelen fjerner standard listebutllepunkter.
*/
ol {
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
    position: left;
    margin: 10px;
    border-radius: 1rem;
}

/* 
   Flyter menyen til venstre for å plassere dem ved siden av hverandre.
*/
.meny {
    float: left;
}

/* 
   Stiler for lenker inni listen: 
   Gir padding fjerner understrekning og setter texsten til svart og runder av.
*/
li a {
    padding: 15px;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
}

/* 
   Hovereffekt Endrer bakgrunnsfargen til aquamarine når musepekeren sveiper over lenken.
*/
li a:hover {
    background-color: aquamarine;
}

/*div element til meny produkt side*/
.nav_prod{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
    position: left;
    margin: 10px;
    border-radius: 1rem;
}

.nav_flex{
    display: flex;
    flex-direction: row;
}

#tittel{
    justify-content: flex-start;
    padding: 20px;
}
#prod{
    font-size: 20px;
    justify-content: center;
    padding: 20px;
}
#vogn{
    justify-content: flex-end;
    height: 40px;
    width: 40px;
    padding: 20px;
}

